body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Ubuntu', sans-serif;
}

h1{
	line-height: 1.5em;
	font-size: 40px;
	letter-spacing: -.2px;
	margin:0 10px;
}
h1 strong{
	color: #0af;
}
figure{
	margin: 0;
	padding: 0;
}
.header{
	background-color: rgb(29, 37, 44);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.menu{
	height: inherit;
}
.header a{
	color: white;
	text-decoration: none;
	height: inherit;
	display: flex;
	align-items: center;
	padding: 0 15px
}
.header ol,li{
	display: flex;
	height: inherit;
	margin: 0;
 	padding: 0;
 	list-style: none;
}
.hero{
	height: 300px;
	/* background-image:url('../images/hero.jpg'); */
	background-color:rgba(29, 37, 44, 0.980); 
	/* background-size: 450px 300px; */
	/* background-repeat: no-repeat; */
	/* background-position-x:right;  */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero-image{
	object-fit:cover;
} 
h2{
	margin:20px;
	text-transform:uppercase;
	color: #0af;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	margin-bottom: 40px; 
}
.portfolio{
	background: #FAFAFA;  
	padding: 20px; 
}
.project{
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 20px;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.project-title{
	margin: 0;
	margin-bottom:15px;
	font-size: 30px;
}
.project-course{
	margin: 10px 0;
	color:#999;
}
.project-date,.project-url{
	margin: 5px 0;
}
.project-url span{
	color: #999;
	text-decoration: underline;
}
.project-description{
	margin: 20px 0;
}
.project-details{
	width: 500px;
}
.project-imageContainer{
	width: 500px;
}
.event-list-title{
	margin-left: 50px;
}
.event-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.event{
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px;
	width: 450px;
	overflow: hidden;
	background: #FAFAFA;
}
.event-image{
	width: 500px;
	height: 200px;
 	object-fit:cover;
}
.event-detail{
	margin: 20px;
	margin-top:-50px;
	border-radius: 5px;
	background: white;
	position: relative;
	padding: 20px;
	text-align: center;
}
.event-description{
	text-align: left;
}
.event-url{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	border-radius: 5px;
	padding: 15px;
	text-decoration: none;
	color: #0af;
}
.contact{
	background: #00aaff;
	color: white;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}
.social{
	display:flex;
}
.social-link{
	width: 50px;
	height: 50px;
	margin: 5px;
	background-size: 50px 50px;
}
.social-link.twitter{
	background-image: url('../images/twitter.svg');
}
.social-link.github{
	background-image: url('../images/github.svg');
}
.social-link.instagram{
	background-image: url('../images/instagram.svg');
}
.container{
	margin: 0 auto;
	width: 1000px;
	height: inherit;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-wrap: inherit;
}

/*
****************fuentes********************
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/